{% extends 'base.html.twig' %}

{% block title %}Hello PetshopController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Liste des animaux dans l'animalerie : {{ petshop.name }}</h1>

    <div>
        <ul>

        {% for animal in petshop.animals %}
            <li>Name: {{ animal.name }} | {{ animal.height }} cm | {{ animal.weight }} kg | DATE DE NAISSANCE {{ animal.birthDate|date('d/m/Y') }}</li>
        {% endfor %}

        </ul>
    </div>

</div>
{% endblock %}
